.counter{
    width: fit-content;
    padding: 15px;
    background-color: #ffec5e;
    color: #000000;
    margin: auto;
    text-align: center;
    border-radius: 5%;
}
button{
    text-decoration: none;
    border: none;
    border-radius: 5%;
    margin: 4px 10px;
    padding: 0px 10px;

    background-color:rgba(17, 17, 17, 0.507);
    color: #173d2b;
    transition: all 0.5s;
}

button:hover{
    background-color: #36173d;
    color: antiquewhite;
    

}